---
# - name: Update nifi.properties
#   lineinfile:
#     path: "{{ nifi_config_dirs.home }}/conf/nifi.properties"
#     line: "{{ item.key }}={{ item.value }}"
#     regexp: "^{{ item.key }}="
#   with_dict: "{{ nifi_properties }}"
#
# - name: Update bootstrap.conf
#   lineinfile:
#     path: "{{ nifi_config_dirs.home }}/conf/bootstrap.conf"
#     line: "{{ item.key }}={{ item.value }}"
#     regexp: "^{{ item.key }}="
#   with_dict: "{{ bootstrap }}"

- name: Ensure XML configuration files have the defined adjustments
  community.general.xml:
    path: "{{ item.path }}"
    xpath: "{{ item.parameters.xpath | default(omit) }}"
    value: "{{ item.parameters.value | default(omit) }}"
    state: "{{ item.parameters.state | default('present') }}"
    pretty_print: "{{ item.parameters.pretty_print | default(true) }}"
  with_items:
    - { "path": "{{ nifi_tempdir.path }}/authorizers.xml", "parameters": "{{ nifi_authorizers_xml }}" }
    - { "path": "{{ nifi_tempdir.path }}/logback.xml", "parameters": "{{ nifi_logback_xml }}" }
    - { "path": "{{ nifi_tempdir.path }}/login-identity-providers.xml", "parameters": "{{ nifi_login_identity_providers_xml }}" }
    - { "path": "{{ nifi_tempdir.path }}/state-management.xml", "parameters": "{{ nifi_state_management_xml }}" }

# - name: Remove server line in zookeeper.properties
#   lineinfile:
#     state: absent
#     path: "{{ nifi_config_dirs.home }}/conf/zookeeper.properties"
#     regexp: "^server.*$"
#
# - name: Update config in zookeeper.properties
#   lineinfile:
#     path: "{{ nifi_config_dirs.home }}/conf/zookeeper.properties"
#     line: "{{ item.key }}={{ item.value }}"
#     regexp: "^{{ item.key }}"
#   with_dict: "{{ zookeeper }}"
