---
# - name: Update nifi.properties
#   lineinfile:
#     path: "{{ nifi_config_dirs.home }}/conf/nifi.properties"
#     line: "{{ item.key }}={{ item.value }}"
#     regexp: "^{{ item.key }}="
#   with_dict: "{{ nifi_properties }}"
#
# - name: Update bootstrap.conf
#   lineinfile:
#     path: "{{ nifi_config_dirs.home }}/conf/bootstrap.conf"
#     line: "{{ item.key }}={{ item.value }}"
#     regexp: "^{{ item.key }}="
#   with_dict: "{{ bootstrap }}"

- name: Ensure Apache NiFi XML configuration files have the defined adjustments
  community.general.xml:
    path: "{{ nifi_tempdir.path }}/{{ item.file }}"
    xpath: "{{ item.parameters.xpath | default(omit) }}"
    value: "{{ item.parameters.value | default(omit) }}"
    state: "{{ item.parameters.state | default('present') }}"
    pretty_print: "{{ item.parameters.pretty_print | default(true) }}"
  changed_when: false
  with_items:
    - { "file": "authorizers.xml", "parameters": "{{ nifi_authorizers_xml }}" }
    - { "file": "logback.xml", "parameters": "{{ nifi_logback_xml }}" }
    - { "file": "login-identity-providers.xml", "parameters": "{{ nifi_login_identity_providers_xml }}" }
    - { "file": "state-management.xml", "parameters": "{{ nifi_state_management_xml }}" }

- name: Ensure Apache NiFi adjusted XML configuration files installed
  ansible.builtin.copy:
    src: "{{ nifi_tempdir.path }}/{{ item.file }}"
    dest: "{{ nifi_data_path }}/conf/{{ item.file }}"
    remote_src: yes
    mode: "0640"
    owner: "{{ nifi_uid }}"
    group: "{{ nifi_gid }}"
  with_items:
    - { "file": "authorizers.xml" }
    - { "file": "logback.xml" }
    - { "file": "login-identity-providers.xml" }
    - { "file": "state-management.xml" }

# - name: Remove server line in zookeeper.properties
#   lineinfile:
#     state: absent
#     path: "{{ nifi_config_dirs.home }}/conf/zookeeper.properties"
#     regexp: "^server.*$"
#
# - name: Update config in zookeeper.properties
#   lineinfile:
#     path: "{{ nifi_config_dirs.home }}/conf/zookeeper.properties"
#     line: "{{ item.key }}={{ item.value }}"
#     regexp: "^{{ item.key }}"
#   with_dict: "{{ zookeeper }}"
