---
- name: Ensure Apache NiFi XML configuration files have the defined adjustments
  community.general.xml:
    path: "{{ nifi_tempdir.path }}/{{ item.file }}"
    xpath: "{{ item.parameters.xpath | default(omit) }}"
    value: "{{ item.parameters.value | default(omit) }}"
    state: "{{ item.parameters.state | default('present') }}"
    pretty_print: "{{ item.parameters.pretty_print | default(true) }}"
  changed_when: false
  with_items:
    - { "file": "authorizers.xml", "parameters": "{{ nifi_conf_authorizers_xml }}" }
    - { "file": "logback.xml", "parameters": "{{ nifi_conf_logback_xml }}" }
    - { "file": "login-identity-providers.xml", "parameters": "{{ nifi_conf_login_identity_providers_xml }}" }
    - { "file": "state-management.xml", "parameters": "{{ nifi_conf_state_management_xml }}" }

- name: Ensure Apache NiFi properties configuration files have the defined adjustments
  ansible.builtin.lineinfile:
    path: "{{ nifi_tempdir.path }}/{{ item.0.file }}"
    line: "{{ item.1.key }}={{ item.1.value }}"
    regexp: "^{{ item.1.key }}="
    state: "{{ item.1.state | default('present') }}"
  changed_when: false
  with_subelements:
    - - { "file": "nifi.properties", "parameters": "{{ nifi_conf_nifi_properties }}" }
      - { "file": "zookeeper.properties", "parameters": "{{ nifi_conf_zookeeper_properties }}" }
    - parameters

- name: Ensure Apache NiFi adjusted configuration files installed
  ansible.builtin.copy:
    src: "{{ nifi_tempdir.path }}/{{ item.file }}"
    dest: "{{ nifi_data_path }}/conf/{{ item.file }}"
    remote_src: yes
    mode: "0640"
    owner: "{{ nifi_uid }}"
    group: "{{ nifi_gid }}"
  with_items:
    - { "file": "authorizers.xml" }
    - { "file": "logback.xml" }
    - { "file": "login-identity-providers.xml" }
    - { "file": "state-management.xml" }
    - { "file": "nifi.properties" }
    - { "file": "zookeeper.properties" }

# - name: Update bootstrap.conf
#   lineinfile:
#     path: "{{ nifi_config_dirs.home }}/conf/bootstrap.conf"
#     line: "{{ item.key }}={{ item.value }}"
#     regexp: "^{{ item.key }}="
#   with_dict: "{{ bootstrap }}"
